// Colors
$cMain: #0072db;
$cMainHover: #0059ac;
$cMainOpacity: #003c7457;
$cShadow: #6255c332;
$whiteOpacity: #ffffff57;

$cBody: white;
$cBgDark: #1d1d1d;
$cBgDarkSecondary: #343434;

$cGray: #596780;
$cBorderGray: #c3d4e9;
$cBgGray: #efefef;

// Text
$cTextBlackMain: #1a202c;
$cTextBlackSecondary: #838383;
$cTextWhite: whitesmoke;

$cRed: #ff0000;
$cRedHover: #b50000;

$cOrange: rgb(255, 187, 0);
$cGreen: rgb(0, 145, 15);

// Fonts
$fRegular: "Rubik-Regular";
$fMedium: "Rubik-Medium";
$fBold: "Rubik-SemiBold";

// Other
$mainTransition: all 0.3s ease-in-out;
$focusVisibleOutline: 2px solid #ff4423;
