* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// html {
//     font-size: 62.5%;

//     @media screen and (max-width: 1800px) {
//         font-size: 75%;
//     }

//     @media screen and (max-width: 1200px) {
//         font-size: 56.25%;
//     }

//     @media screen and (max-width: 900px) {
//         font-size: 50%;
//     }
// }

body {
    color: $cTextBlackMain;
    font-family: $fRegular;
    overscroll-behavior: contain;
    overflow-x: hidden;

    #root {
        overflow-x: hidden;
        width: inherit;
        height: inherit;
    }
}

*,
p,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $fRegular;
}

button {
    background-color: transparent;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

a {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: $cTextBlackMain;

    &:hover {
        color: $cMain;
    }

    &:active {
        color: $cMainHover;
    }
}

ul {
    list-style-type: none;
}

#preloader {
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    z-index: 10000000000000000000000000;
    opacity: 1;
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

// Number arrows
/* Spin Buttons modified */
.input_arrow::-webkit-outer-spin-button,
.input_arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #e4e4e4
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=)
        no-repeat center center;
    background-size: 12px 17px;
    width: 25px;
    border-left: 1px solid #bbb;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;

    @media screen and (max-width: 576px) {
        width: 40px;
    }
}

.input_arrow::-webkit-outer-spin-button:hover,
.input_arrow::-webkit-outer-spin-button:active,
.input_arrow::-webkit-inner-spin-button:hover,
.input_arrow::-webkit-inner-spin-button:active {
    filter: invert(1);
    opacity: 0.5;
    cursor: pointer;
}

/* Override browser form filling */
input:-webkit-autofill {
    background: black;
    color: red;
}

.input_noarrow {
    -moz-appearance: textfield !important;
    appearance: textfield !important;
}

.input_noarrow::-webkit-outer-spin-button,
.input_noarrow::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.hide {
    opacity: 0;
    padding: 0 !important;
}

.show {
    opacity: 1;
}

.violet {
    color: $cMain;
    display: inline-block;
    width: fit-content;
}

.green {
    color: $cGreen;
}

.red {
    color: $cRed;
}

.orange {
    color: $cOrange;
}

.bold {
    font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}

.btn_disabled {
    pointer-events: none;
    opacity: 0.5;
}

.hidden {
    display: none !important;
}

.link {
    color: $cMain;
    text-decoration: underline;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $cMainHover;
    }
}

.MuiTable-root {
    background-color: white !important;
}
// Main table wrapper
.mui-datatables-11mde6h-MuiPaper-root {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    height: 100% !important;
    // height: calc(100% - 60px) !important;

    border-radius: 0px !important;
}
.tss-1x5mjc5-MUIDataTable-root {
    box-shadow: none !important;
}
.tss-1x5mjc5-MUIDataTable-root {
    background-color: transparent !important;
    overflow: hidden !important;
}

.tss-1ufdzki-MUIDataTableSearch-main {
    padding-left: 16px !important;
    border-radius: 10px;
}
.tss-1ufdzki-MUIDataTableSearch-main {
    background-color: white;
}
.tss-1vsygk-MUIDataTableFilterList-root {
    .MuiButtonBase-root {
        background-color: white;
        margin-bottom: 10px;
    }
}
// Table header
.mui-datatables-15wwp11-MuiTableHead-root {
    .tss-gm6zfk-MUIDataTableHeadCell-fixedHeader {
        padding: 4px 16px !important;
        background-color: $cBgGray !important;
        border-bottom: 1px solid $cBorderGray !important;
    }
}

.tss-1cdcmys-MUIDataTable-responsiveBase {
    @include customScrollBar;
    position: relative;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: calc(100% - 60px) !important;
    background-color: white !important;

    @media screen and (max-width: 1200px) {
        height: calc(100% - 64px) !important;
    }
    @media screen and (max-width: 768px) {
        height: fit-content !important;
        padding-bottom: 62px;
    }

    .tax_result_wrapper {
        position: sticky;
        top: 0px;
        left: 0px;
        @media screen and (max-width: 992px) {
            position: relative;
            height: fit-content !important;
        }
    }

    .mui-datatables-rqglhn-MuiTable-root {
        border-left: 1px solid $cBorderGray;
        height: fit-content;
    }
}
.table_with_tax_result {
    display: grid !important;
    grid-template-columns: 450px 1fr;
    @media screen and (max-width: 1500px) {
        grid-template-columns: 250px 1fr;
    }
    @media screen and (max-width: 992px) {
        grid-template-columns: 100%;
        grid-template-rows: min-content 1fr;
    }
}
.MuiToolbar-root {
    background-color: transparent !important;
    padding-right: 0 !important;
}
.mui-datatables-hyum1k-MuiToolbar-root {
    @media screen and (max-width: 1200px) {
        padding-left: 10px;
    }
    @media screen and (max-width: 992px) {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
        padding: 16px 10px !important;
    }
}
.MuiPopover-root {
    .MuiPaper-root {
        background-color: white !important;
    }
}

// Table footer
.tss-5jmwmz-MUIDataTableFooter-root {
    position: absolute;
    bottom: 6px;
    left: 6px;
    right: 6px;
    width: calc(100% - 6px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    z-index: 10;
    height: 53px;
    @media screen and (max-width: 1200px) {
        left: 0;
        right: 0;
        bottom: 10px;
        width: 100%;
    }
    @media screen and (max-width: 768px) {
        bottom: 0;
    }
}
.tss-tlx3x1-MUIDataTableToolbar-root {
    @media screen and (max-width: 599px) {
        display: flex !important;
    }
}
// Table header toolbar
.tss-qbo1l6-MUIDataTableToolbar-actions {
    display: flex;
    align-items: center;
    flex-direction: row-reverse !important;
    @media screen and (max-width: 992px) {
        width: 100% !important;
    }
    @media screen and (max-width: 576px) {
        flex-wrap: wrap;
        row-gap: 10px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .MuiButtonBase-root {
        padding: 12px;
        background-color: $whiteOpacity !important;
        margin-left: 10px;
        transition: all 0.3s ease-in-out;

        &:hover {
            svg {
                color: $cMain;
            }
        }
        svg {
            color: white;
            transition: all 0.3s ease-in-out;
        }
    }
    [data-testid="Print-iconButton"] {
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }

    // Input
    .mui-datatables-wb57ya-MuiFormControl-root-MuiTextField-root {
        width: fit-content !important;
        margin-right: -7px;
        @media screen and (max-width: 992px) {
            width: 100% !important;
        }
        .mui-datatables-8j6b76-MuiInputBase-root-MuiOutlinedInput-root {
            width: 400px;
            flex-direction: row-reverse;
            @media screen and (max-width: 992px) {
                padding-left: 0;
                width: 100% !important;
            }

            input {
                font-family: $fRegular;
                width: 100%;
                display: flex;
                align-items: center;
                padding: 9px 10px;
                padding-bottom: 10px;
                gap: 26px;
                background: white;
                transition: all 0.3s ease-in-out;
                font-size: 0.9em;
                border: 1px solid transparent;
                border-bottom: 2px solid $cBorderGray;
                line-height: 100%;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;

                &:focus-visible {
                    outline: none;
                }
                &:active,
                &:hover,
                &:focus {
                    border-bottom-color: $cMain;
                }

                &::placeholder {
                    color: $cTextBlackSecondary;
                }

                &:disabled {
                    background-color: rgb(240, 240, 240);

                    &:hover {
                        border: 1px solid $cBorderGray;
                    }
                }

                &:disabled + .form_label__active {
                    background-color: white;
                }

                @media screen and (max-width: 576px) {
                    font-size: 1em;
                }
            }
        }
    }
    .MuiOutlinedInput-notchedOutline {
        border: none !important;
        padding: 0 !important;
    }
}
.tss-1ork7hi-MUIDataTablePagination-tableCellContainer {
    @media screen and (max-width: 500px) {
        padding: 0px 10px !important;
    }
}

.tss-ynxllk-MUIDataTableFilter-root {
    padding: 10px 16px !important;
    padding-bottom: 24px !important;
    .tss-1sbl55k-MUIDataTableFilter-title {
        font-size: 1.1em;
    }
    .tss-stfyet-MUIDataTableFilter-gridListTile {
        margin-top: 0 !important;

        .mui-datatables-u4tvz2-MuiFormLabel-root {
            padding: 6px 0px !important;
            display: inline-block;
        }
    }
}
.mui-datatables-1idn90j-MuiGrid-root {
    padding-top: 20px !important;
}
.mui-datatables-1g7nc1s-MuiPickersLayout-root {
    background-color: white;
}
.mui-datatables-qfz70r-MuiFormGroup-root {
    column-gap: 5px;
    width: 100% !important;
    flex-wrap: nowrap !important;
    .mui-datatables-z3c6am-MuiFormControl-root-MuiTextField-root {
        width: 100%;
    }
    .mui-datatables-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-error {
        color: $cMain !important;
    }
    .mui-datatables-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-error
        .MuiOutlinedInput-notchedOutline {
        border-color: $cMain !important;
    }
    .mui-datatables-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-error
        .MuiOutlinedInput-notchedOutline {
        border-color: $cMain !important;
    }
}
.tss-1vd39vz-MUIDataTableBodyCell-stackedCommon {
    width: 100% !important;
    margin: 0 auto;
}
.mui-datatables-ubpweo-MuiPaper-root-MuiPopover-paper {
    @media screen and (max-width: 800px) {
        left: 10px !important;
        right: 10px !important;
        width: calc(100vw - 20px) !important;
        max-width: 100% !important;
    }
}
