* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// html {
//     font-size: 62.5%;

//     @media screen and (max-width: 1800px) {
//         font-size: 75%;
//     }

//     @media screen and (max-width: 1200px) {
//         font-size: 56.25%;
//     }

//     @media screen and (max-width: 900px) {
//         font-size: 50%;
//     }
// }

body {
    color: $cTextBlackMain;
    font-family: $fRegular;
    overscroll-behavior: contain;
    overflow-x: hidden;

    #root {
        overflow-x: hidden;
        width: inherit;
        height: inherit;
    }
}

*,
p,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $fRegular;
}

button {
    background-color: transparent;
    border: none;

    &:hover {
        cursor: pointer;
    }
}

a {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: $cTextBlackMain;

    &:hover {
        color: $cMain;
    }

    &:active {
        color: $cMainHover;
    }
}

ul {
    list-style-type: none;
}

#preloader {
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    z-index: 10000000000000000000000000;
    opacity: 1;
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

// Number arrows
/* Spin Buttons modified */
.input_arrow::-webkit-outer-spin-button,
.input_arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background: #e4e4e4
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAKUlEQVQYlWNgwAT/sYhhKPiPT+F/LJgEsHv37v+EMGkmkuImoh2NoQAANlcun/q4OoYAAAAASUVORK5CYII=)
        no-repeat center center;
    background-size: 12px 17px;
    width: 25px;
    border-left: 1px solid #bbb;
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;

    @media screen and (max-width: 576px) {
        width: 40px;
    }
}

.input_arrow::-webkit-outer-spin-button:hover,
.input_arrow::-webkit-outer-spin-button:active,
.input_arrow::-webkit-inner-spin-button:hover,
.input_arrow::-webkit-inner-spin-button:active {
    filter: invert(1);
    opacity: 0.5;
    cursor: pointer;
}

/* Override browser form filling */
input:-webkit-autofill {
    background: black;
    color: red;
}

.input_noarrow {
    -moz-appearance: textfield !important;
    appearance: textfield !important;
}

.input_noarrow::-webkit-outer-spin-button,
.input_noarrow::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.hide {
    opacity: 0;
    padding: 0 !important;
}

.show {
    opacity: 1;
}

.violet {
    color: $cMain;
    display: inline-block;
    width: fit-content;
}

.red {
    color: $cRed;
}

.orange {
    color: $cOrange;
}

.bold {
    font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}

.btn_disabled {
    pointer-events: none;
    opacity: 0.5;
}

.hidden {
    display: none !important;
}

.link {
    color: $cMain;
    text-decoration: underline;
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $cMainHover;
    }
}
