@import './abstracts/main';
@import './abstracts/animation';

body {
    @include customScrollBar;
}

header {
    .header_logo {
        a {

            @media screen and (max-width: 768px) {
                &::before {
                    background-color: rgba(255, 255, 255, 0.71);
                }
            }
        }
    }
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;


    .contact {
        width: 100%;
        height: fit-content;
        position: relative;

        @media screen and (max-width: 1200px) {
            margin-top: 0;
        }

        .contact_row {
            height: fit-content;
            max-height: fit-content;

            @media screen and (max-width: 768px) {
                flex-direction: column-reverse;
            }

            .contact_row_form {
                padding-top: 120px;

                @media screen and (max-width: 1300px) {
                    padding-top: 100px;
                }

                @media screen and (max-width: 800px) {
                    padding: 0;
                    padding-top: 100px;
                }

                @media screen and (max-width: 768px) {
                    padding: 80px 15vw;
                    padding-top: 50px;
                }

                @media screen and (max-width: 576px) {
                    padding: 70px 8vw;
                    padding-top: 20px;
                }

                @media screen and (max-width: 450px) {
                    padding: 70px 6vw;
                    padding-top: 40px;
                }

                h3 {
                    @media screen and (max-width: 1450px) {
                        font-size: 50px;
                        margin-bottom: 20px;
                    }

                    @media screen and (max-width: 1200px) {
                        font-size: 45px;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 50px;
                        margin-bottom: 0px;
                    }

                    @media screen and (max-width: 576px) {
                        font-size: 50px;
                    }

                    @media screen and (max-width: 450px) {
                        font-size: 45px;
                    }

                }

                .contact_row_form_block {
                    transform: scale(1);
                }
            }

            .contact_row_info_gsap {
                @media screen and (max-width: 800px) {
                    width: 53%;
                }

                @media screen and (max-width: 768px) {
                    width: 100%;
                }

                .contact_row_info {
                    padding-top: 120px;
                    padding-bottom: 80px;

                    &:hover {
                        transform: scale(1);
                    }

                    &:hover>.contact_row_info_bg {
                        left: 0%;
                        height: initial;
                    }

                    @media screen and (max-width: 1300px) {
                        padding-top: 100px;
                    }

                    @media screen and (max-width: 768px) {
                        padding-bottom: 120px;
                    }

                    @media screen and (max-width: 576px) {
                        padding-bottom: 140px;
                    }

                    @media screen and (max-width: 450px) {
                        padding-bottom: 110px;
                    }

                    h3 {
                        @media screen and (max-width: 1450px) {
                            font-size: 55px;
                        }

                        @media screen and (max-width: 1200px) {
                            font-size: 45px;
                        }

                        @media screen and (max-width: 768px) {
                            font-size: 60px;
                        }

                        @media screen and (max-width: 576px) {
                            font-size: 55px;
                        }

                        @media screen and (max-width: 375px) {
                            font-size: 50px;
                        }
                    }

                    .contact_row_info_bg {
                        left: 0%;

                        @media screen and (max-width: 768px) {
                            clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 85%, 0% 0%);
                        }

                        @media screen and (max-width: 450px) {
                            clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 90%, 0% 0%);

                        }
                    }
                }
            }
        }


        .contact_map {
            position: relative;
            height: 600px;

            &:hover>iframe {
                height: 100%;
            }

            &:hover {
                &::before {
                    box-shadow: none;
                    height: 100%;
                }
            }
        }
    }
}