@import './main';
@import './animation';

body {
    @include customScrollBar;
}

.body_mobile {
    @media screen and (max-width: 1200px) {
        width: 100%;
    }
}

.read-more-btn {
    font-size: 20px;
    display: inline-block;
    background-color: #f65824;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: #f44336;
    }
}

#body_mobile_block {
    &::before {
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        content: "";
        width: 100%;
        height: 100%;
        background-color: #dde8ed;
        background: linear-gradient(-45deg,
                #4065c327,
                #dde8ed,
                #ffad0964,
                #4065c327,
                #dde8ed,
                #ffa1276c) white;
        background-size: 400% 400%;
        animation: gradient 20s ease infinite;
        z-index: -1;
    }

    @media screen and (max-width: 992px) {
        &::before {
            background-size: 100% 100%;
            background: #dde8ed;
            animation: none;
        }
    }
}

.container_header {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    max-width: 1240px;
    padding-top: 120px;
    margin: 0 auto;

    @media screen and (max-width: 1400px) {
        max-width: 100%;
        padding-left: 8vw;
        padding-right: 8vw;
        padding-top: 100px;
    }

    @media screen and (max-width: 1270px) {
        padding-top: 85px;
    }

    @media screen and (max-width: 1150px) {
        padding-left: 4vw;
        padding-right: 4vw;
    }

    @media screen and (max-width: 576px) {
        row-gap: 15px;
        padding-left: 4vw;
        padding-right: 4vw;
    }

    @media screen and (max-width: 450px) {
        padding-top: 85px;
    }
}

.news_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 74% 25%;
    justify-content: space-between;
    row-gap: 20px;
    padding: 0px 20px;
    padding-bottom: 100px;

    @media screen and (max-width: 1400px) {
        grid-template-columns: 68% 31%;
    }

    @media screen and (max-width: 1270px) {
        padding-bottom: 85px;
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: 100%;
    }

    @media screen and (max-width: 768px) {
        column-gap: 15px;
    }

    @media screen and (max-width: 576px) {
        grid-template-columns: 100%;
    }

    @media screen and (max-width: 450px) {
        padding: 0px 16px;
    }

    .news_wrapper_item,
    .news_wrapper_nav {
        height: fit-content;
        padding: 20px;
        background-color: rgba(255, 255, 255, .8);
        backdrop-filter: blur(8px);
        border-radius: 20px;
        border: 2px solid rgba(255, 255, 255, 0.655);

        @media screen and (max-width: 768px) {
            padding: 15px;
        }

        @media screen and (max-width: 400px) {
            padding: 10px;
        }
    }

    // Add a card effect for articles
    .news_wrapper_item {
        width: 100%;
        overflow: hidden;

        // Blog name
        h1 {
            @include headerText50;
            line-height: 140%;
            text-transform: uppercase;
            color: #f65824;
            padding-bottom: 15px;
            margin-bottom: 20px;
            border-bottom: 1px solid $cBorderGray;
            text-align: center;

            @media screen and (max-width: 768px) {
                text-align: left;
                font-size: 36px;
            }

            @media screen and (max-width: 576px) {
                font-size: 34px;
            }

            @media screen and (max-width: 450px) {
                font-size: 30px;
                line-height: 120%;
            }

            @media screen and (max-width: 400px) {
                font-size: 28px;
            }

            @media screen and (max-width: 375px) {
                font-size: 26px;
            }
        }

        .news_wrapper_item_row {
            position: relative;
            width: 100%;
            display: grid;
            grid-template-columns: 40% 58%;
            justify-content: space-between;

            @media screen and (max-width: 1400px) {
                grid-template-columns: 35% 63%;
            }

            @media screen and (max-width: 768px) {
                grid-template-columns: 100%;
            }

            // Image
            img {
                width: 100%;
                height: fit-content;
                object-fit: contain;
                display: inline-block;

                @media screen and (max-width: 1200px) {
                    max-height: 550px;
                    max-width: 480px;
                }

                @media screen and (max-width: 768px) {
                    max-height: 100%;
                    max-width: 100%;
                    width: 50%;
                }

                @media screen and (max-width: 668px) {
                    width: 60%;
                }

                @media screen and (max-width: 576px) {
                    width: 100%;
                }
            }

            //Post content
            .news_wrapper_item_row_col {
                @media screen and (max-width: 768px) {
                    margin-top: 16px;
                }

                .news_wrapper_item_row_col_text {
                    width: 100%;
                    max-height: 600px;
                    height: fit-content;
                    overflow: auto;
                    padding-right: 10px;
                    padding-bottom: 10px;

                    &::-webkit-scrollbar {
                        width: 10px;
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-track {
                        background: linear-gradient(180deg, $cMain, $cMainHover);
                        border-radius: 10px;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 8px;
                        background: linear-gradient(180deg, $cOrange, #ff7446);
                    }

                    @media screen and (max-width: 1200px) {
                        max-height: 480px;
                    }

                    @media screen and (max-width: 768px) {
                        max-height: 100%;
                        overflow: visible;
                    }

                    p {
                        @include plainText22;
                        font-weight: 600;

                        @media (max-width: 450px) {
                            font-size: 20px;
                        }
                    }
                }

                // Date
                h5 {
                    @include boldText22;
                    padding-top: 10px;
                    text-align: right;

                    @media (max-width: 450px) {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    // Blog navigation
    .news_wrapper_nav {
        h2 {
            @include headerText40;
            padding-bottom: 16px;

            @media screen and (max-width: 1270px) {
                font-size: 36px;
            }

            @media screen and (max-width: 1200px) {
                text-align: center;
            }
        }

        .news_wrapper_nav_list {
            @media screen and (max-width: 1200px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 10px;
                row-gap: 10px;
            }

            @media screen and (max-width: 576px) {
                grid-template-columns: 100%;
            }

            a {
                display: flex;
                align-items: center;
                flex-direction: row;
                column-gap: 10px;
                padding: 5px;
                border-bottom: 1px solid $cBorderGray;
                transition: all 0.3s ease-in-out;

                &:last-of-type {
                    border-bottom: none;
                }

                &:hover {
                    background-color: $cMainOpacity;

                    span {
                        color: $cOrange;
                    }

                    img {
                        filter: opacity(0.7);
                    }
                }

                @media screen and (max-width: 1200px) {
                    border: 1px solid $cBorderGray;
                    border-radius: 10px;

                    &:last-of-type {
                        border-bottom: 1px solid $cBorderGray;
                    }
                }

                @media screen and (max-width: 992px) {
                    &:hover {
                        background-color: transparent;

                        span {
                            color: $cTextBlackMain;
                        }

                        img {
                            filter: opacity(1);
                        }
                    }

                    &:active {
                        background-color: $cMainOpacity;

                        span {
                            color: $cOrange;
                        }

                        img {
                            filter: opacity(0.7);
                        }
                    }
                }

                @media screen and (max-width: 576px) {
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid $cBorderGray;
                    transition: all 0.3s ease-in-out;
                    border-radius: 0px;

                    &:last-of-type {
                        border-bottom: none;
                    }
                }

                img {
                    max-width: 55px;
                    max-height: 55px;
                    transition: all 0.3s ease-in-out;

                    @media screen and (max-width: 576px) {
                        max-width: 85px;
                        max-height: 85px;
                    }

                    @media screen and (max-width: 450px) {
                        max-width: 65px;
                        max-height: 65px;
                    }
                }

                span {
                    @include boldText20;
                    transition: all 0.3s ease-in-out;

                    @media screen and (max-width: 576px) {
                        font-size: 22px;
                    }

                    @media screen and (max-width: 450px) {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}