@import './main';
@import './animation';

body {
    @include customScrollBar;
}

main {
    position: relative;
    width: inherit;
    height: inherit;
    overflow: hidden;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1400px) {
        padding-top: 100px;
    }


    .container_header {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
        max-width: 1240px;

        @media screen and (max-width: 1450px) {
            max-width: 100%;
            padding: 0 8vw;
        }

        @media screen and (max-width: 1150px) {
            padding: 0 5vw;
        }

        @media screen and (max-width: 576px) {
            row-gap: 15px;
            padding: 0 4vw;

        }

        // Main title
        h1 {
            @include headerText64;
            color: $cTextBlackMain;
        }

        .secodary_text {
            @include boldText30;
            color: white;
            margin-bottom: 50px;
            padding-right: 10vw;

            @media screen and (max-width: 1400px) {
                margin-bottom: 40px;
                font-size: 26px;
            }

            @media screen and (max-width: 900px) {
                padding-right: 0;
            }

            @media screen and (max-width: 576px) {
                font-weight: 400;
            }

            @media screen and (max-width: 450px) {
                font-size: 24px;
            }

            @media screen and (max-width: 375px) {
                font-size: 20px;
            }
        }
    }

    // Послуги
    .services {
        width: 100%;
        height: fit-content;

        .services_block {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 25%);
            height: 700px;

            @media screen and (max-width: 1400px) {
                height: 600px;
            }

            @media screen and (max-width: 1300px) {
                height: 550px;
            }

            @media screen and (max-width: 768px) {
                height: fit-content;
                grid-template-columns: repeat(2, 50%);
            }

            .services_block_item {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                padding: 0px 60px;
                padding-bottom: 160px;
                position: relative;
                overflow: visible;
                margin-left: -1px;

                @media screen and (max-width: 1270px) {
                    padding: 0px 40px;
                    padding-left: 55px;
                    padding-bottom: 160px;
                }

                @media screen and (max-width: 1200px) {
                    height: 70vh;
                    max-height: 400px;
                    padding: 0px 20px;
                    padding-right: 30px;

                    &:nth-of-type(2) {
                        margin-top: 19.5%;
                    }

                    &:nth-of-type(3) {
                        margin-top: 38.5%;
                    }

                    &:nth-of-type(4) {
                        margin-top: 58.5%;
                    }
                }

                @media screen and (max-width: 768px) {
                    height: 60vh;
                    max-height: 340px;
                    padding: 0px 20px;
                    padding-right: 30px;

                    &:nth-of-type(3) {
                        margin-top: -23%;
                    }

                    &:nth-of-type(4) {
                        margin-top: -14px;
                    }
                }

                @media screen and (max-width: 576px) {
                    max-height: 300px;

                    &:nth-of-type(4) {
                        margin-top: -10px;
                    }
                }

                h3 {
                    @include headerText40;
                    transition: all 0.3s ease-in-out;
                    text-align: center;
                    user-select: none;

                    @media screen and (max-width: 1450px) {
                        font-size: 32px;
                    }

                    @media screen and (max-width: 1270px) {
                        font-size: 29px;
                    }

                    @media screen and (max-width: 1100px) {
                        font-size: 27px;
                    }

                    @media screen and (max-width: 1200px) {
                        font-size: 25px;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 30px;
                    }

                    @media screen and (max-width: 576px) {
                        font-size: 26px;
                    }

                    @media screen and (max-width: 450px) {
                        font-size: 24px;
                    }

                    @media screen and (max-width: 400px) {
                        font-size: 22px;
                    }

                    @media screen and (max-width: 375px) {
                        font-size: 20px;
                    }
                }

                p {
                    @include boldText30;
                    transition: all 0.3s ease-in-out;
                    color: $cOrange;
                    user-select: none;
                    text-align: center;
                    white-space: nowrap;

                    @media screen and (max-width: 1450px) {
                        font-size: 30px;
                    }

                    @media (max-width: 1270px) {
                        font-size: 27px;
                    }

                    @media (max-width: 1100px) {
                        font-size: 26px;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 30px;
                    }

                    @media screen and (max-width: 576px) {
                        font-size: 24px;
                    }

                    @media screen and (max-width: 375px) {
                        font-size: 22px;
                    }
                }

                a {
                    @include mainButton;
                    width: fit-content;
                    padding: 7px 25px;
                    font-weight: 100;
                    margin-top: 20px;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        box-shadow: 0 14px 35px 0 $cShadow;
                    }

                    @media screen and (max-width: 1450px) {
                        padding: 7px 25px;
                        font-size: 20px;
                        width: fit-content;
                        margin-top: 15px;
                    }

                    @media screen and (max-width: 1200px) {
                        padding: 5px 20px;
                        font-size: 18px;

                        &:hover {
                            box-shadow: none;
                        }

                        &:active {
                            box-shadow: 0 14px 35px 0 $cShadow;
                        }
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 20px;
                    }

                    @media screen and (max-width: 576px) {
                        font-size: 18px;
                    }

                    @media screen and (max-width: 450px) {
                        margin-top: 20px;
                        font-size: 17px;
                    }

                    @media screen and (max-width: 400px) {
                        font-size: 16px;
                        padding: 7px 15px;
                    }
                }

                // Color bg
                &::before {
                    content: "";
                    transform: skewX(-11deg);
                    z-index: -1;
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    right: -95%;
                    height: inherit;
                    width: 100%;
                    transition: all 1s ease-in-out;
                }

                // White bg for container
                &::after {
                    content: "";
                    transform: skewX(-11deg);
                    z-index: -2;
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    right: 0px;
                    height: inherit;
                    width: 100%;
                    transition: all 1s ease-in-out;
                    background-color: white;
                }

                @media screen and (max-width: 1200px) {
                    &::before {
                        transform: skewX(0deg) skewY(11deg);
                        height: 97%;
                        top: 13%;
                    }

                    &::after {
                        transform: skewX(0deg) skewY(11deg);
                        height: 100%;
                    }
                }

                @media screen and (max-width: 900px) {
                    &::before {
                        top: 10%;
                    }
                }

                @media screen and (max-width: 768px) {
                    &::before {
                        top: 75px;
                    }
                }

                @media screen and (max-width: 690px) {
                    &::before {
                        top: 65px;
                    }
                }

                @media screen and (max-width: 576px) {
                    &::before {
                        top: 55px;
                    }
                }

                @media screen and (max-width: 500px) {
                    &::before {
                        top: 45px;
                    }
                }

                @media screen and (max-width: 420px) {
                    &::before {
                        top: 40px;
                    }
                }

                @media screen and (max-width: 375px) {
                    &::before {
                        top: 35px;
                    }
                }

                // Image bg
                .services_block_item_bg {
                    transform: skewX(-11deg);
                    overflow: hidden;
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    right: -100%;
                    width: 100%;
                    height: inherit;
                    z-index: -1;
                    background-color: white;
                    transition: all 1s ease-in-out;

                    &::after {
                        transform: skewX(11deg);
                        position: absolute;
                        top: 0px;
                        right: -20%;
                        bottom: 0px;
                        width: 140%;
                        height: inherit;
                        content: '';
                        filter: brightness(0.5);
                        transition: all 1s ease-in-out;
                    }

                    @media screen and (max-width: 1200px) {
                        transform: skewX(0deg) skewY(11deg);
                        top: 50px;
                        bottom: 2px;
                        height: calc(100% - 25px);

                        &::after {
                            transform: skewX(0deg) skewY(-11deg) scale(1.4);
                        }
                    }

                    @media screen and (max-width: 768px) {
                        top: 45px;
                        height: calc(100% - 30px);
                    }

                    @media screen and (max-width: 576px) {
                        height: 100%;
                    }
                }
            }

            .services_block_item_active {
                &::before {
                    right: 0px;
                }

                .services_block_item_bg {
                    background-color: transparent;
                    right: 0px;
                }

                h3 {
                    color: white;
                }

                p {
                    color: $cOrange;
                }

                @media screen and (max-width: 1200px) {
                    &::before {
                        right: -95%;
                    }

                    .services_block_item_bg {
                        right: -100%;
                    }

                    h3 {
                        color: $cTextBlackMain;
                    }

                    p {
                        color: $cOrange;
                    }
                }

                @media screen and (max-width: 768px) {
                    &::before {
                        right: -97%;
                    }
                }

                @media screen and (max-width: 576px) {
                    &::before {
                        right: -94%;
                    }
                }
            }

            span {

                // Visit
                &:nth-of-type(1) {
                    z-index: 1;

                    &::before {
                        background-color: #1b6e81;
                    }
                }

                // Landing
                &:nth-of-type(2) {
                    z-index: 2;

                    &::before {
                        background-color: #cb6594;
                    }
                }

                // Corporate
                &:nth-of-type(3) {
                    z-index: 3;

                    &::before {
                        background-color: #5eb6a6;
                    }
                }

                // Ecommerce
                &:nth-of-type(4) {
                    z-index: 4;

                    &::before {
                        background-color: #ae0416;
                    }
                }

                @media screen and (max-width: 1200px) {
                    &:nth-of-type(1) {
                        z-index: 1;

                        &::after {
                            border-top: 10px solid #1b6e81;
                        }
                    }

                    // Landing
                    &:nth-of-type(2) {
                        z-index: 2;

                        &::after {
                            border-top: 10px solid #cb6594;
                        }
                    }

                    // Corporate
                    &:nth-of-type(3) {
                        z-index: 3;

                        &::after {
                            border-top: 10px solid #5eb6a6;
                        }
                    }

                    // Ecommerce
                    &:nth-of-type(4) {
                        z-index: 4;

                        &::after {
                            border-top: 10px solid #e47049;
                        }
                    }
                }
            }
        }
    }
}

.contact {
    height: 100vh;
}

#service_order {
    z-index: 20;

    @media screen and (max-width: 1200px) {
        clip-path: polygon(100% 30%, 100% 0, 100% 100%, 100% 100%, 0% 100%, 0 0);
        margin-top: -195px;
    }

    @media screen and (max-width: 900px) {
        clip-path: polygon(100% 22%, 100% 0, 100% 100%, 100% 100%, 0% 100%, 0 0);
        margin-top: -180px;
    }

    @media screen and (max-width: 768px) {
        clip-path: polygon(100% 17%, 100% 0, 100% 100%, 100% 100%, 0% 100%, 0 0);
        margin-top: -120px;
    }

    @media screen and (max-width: 576px) {
        clip-path: none;
        margin-top: 0;
    }

    .service_order_content {
        @media screen and (max-width: 1200px) {
            padding-top: 240px;
        }

        @media screen and (max-width: 900px) {
            padding-top: 160px;
        }

        @media screen and (max-width: 576px) {
            padding-top: 60px;
        }
    }
}